<section class="status-elements">
  <span class="selected" id="status-droplet" data-description="Water">
    <i class="ph-bold ph-drop"></i>
  </span>
  <span id="status-sunlight" class="warning" data-description="Sunlight">
    <i class="ph-bold ph-sun"></i>
  </span>
  <span id="status-temperature" class="critical" data-description="Temp">
    <i class="ph-bold ph-thermometer"></i>
  </span>
  <span id="status-humidity" data-description="Humidity">
    <i class="ph-bold ph-waves"></i>
  </span>
</section>
<div class="description"></div>
<video autoplay loop muted>
  <source src="/plant/base.mp4" type="video/mp4" />
</video>
