<video autoplay loop muted>
    <source src="/plant/base.mp4" type="video/mp4">
</video>

<div class="info_board">
<section class="status-icons">
    <div id="status-level">
        <!-- <box-icon type="solid" size="lg" name="check-shield"></box-icon> -->
        <i class="ph-bold ph-shield-check"></i>
    </div>
    <div class="status-container">
        <span id="status-droplet" data-description="Water">
            <i class="ph-bold ph-drop warning"></i>
        </span>
        <span id="status-sunlight" class="warning" data-description="Sunlight">
            <i class="ph-bold ph-sun critical"></i>
        </span>
        <span id="status-temperature" class="critical" data-description="Temp">
            <i class="ph-bold ph-thermometer-simple"></i>
        </span>
        <span id="status-humidity" data-description="Humidity">
            <i class="ph-bold ph-waves"></i>
        </span>
    </div>
</section>

<section class="nameplate">
    <p>Hi! My name is</p>
    <h2 id="name"></h2>
</section>

<section class="description">
    <p id="description">Description: </p>
    <p id="description-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ea dolore commodi voluptatum provident tempora molestias impedit similique! </p>

</section>
</div>