<video autoplay loop muted>
    <source src="/plant/base.mp4" type="video/mp4"/>
</video>
<div class="chartContainment">
    <div class="chartContainer">
        <p>RealTime Sensor Information</p>
        <canvas class="sensorChart" id="sensorChart" width="256" height="156"></canvas>
    </div>
    <div class="wateredContainer">
        <canvas class="sensorChart" id="wateredChart"></canvas>
    </div>
</div>

