<div class="sensorsContainer">
  <video autoplay loop muted>
    <source src="/plant/base.mp4" type="video/mp4" id="plantState"/>
  </video>
  <div class="sensor_container">
    <section class="status-elements">
      <span class="selected" id="status-droplet" data-description="Water">
        <i class="ph-bold ph-drop"></i>
        <p class="data"></p>
      </span>
      <span id="status-sunlight" data-description="Sunlight">
        <i class="ph-bold ph-sun"></i>
        <p class="data"></p>
      </span>
      <span id="status-temperature" data-description="Temp">
        <i class="ph-bold ph-thermometer"></i>
        <p class="data"></p>
      </span>
      <span id="status-humidity" data-description="Humidity">
        <i class="ph-bold ph-waves"></i>
        <p class="data"></p>
      </span>
    </section>
  </div>
</div>
